<div *ngIf="recipe">
	<p>{{recipe.id}}</p>
	<p>{{recipe.title}}</p>
	<img src="{{recipe.image}}">
	<p>Ingredients:</p>
	<ul>
		<li *ngFor="let ingredient of recipe.ingredients" >
			{{ingredient}}
		</li>
	</ul>
	<p>Total servings: {{recipe.servings}}</p>
	<p>Total time: {{recipe.totalTime}}</p>
	<p>Avg rating: {{recipe.rating}}</p>
	<ul>
		<li>
			<p>Recipe source: {{recipe.source.sourceDisplayName}}</p>
		</li>
		<li>
			<p>Source url: <a href="{{recipe.source.sourceRecipeUrl}}">{{recipe.source.sourceRecipeUrl}}</a></p>
		</li>
	</ul>
</div>
<button (click)="goBack()">Back</button>
<div *ngIf="this.auth.isAuthenticated()" class="container">
  <h1>Create new list</h1>
  <form (ngSubmit)="saveToList()" #addToListForm="ngForm">
    <div class="form-group">
      <label for="list">Select a list</label>
      <select name="list" id="list" name="list" #list="ngModel" [(ngModel)]="model.list" required>
			  <option *ngFor="let list of lists" value="{{list.id}}">{{list.name}} {{list.id}}</option> 
			</select>
    </div>
    <button type="submit" class="btn btn-success">Add to list</button>
  </form>
</div>

